body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border: 2px solid red;
}

.menu {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
}

.menu img {
    width: clamp(10rem, 12vw, 12rem);
    height: auto;
}

.Menu_links{
    position: relative;
}

.menu ul {
    flex-shrink: 1;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(7px, 4vw, 17px);
}

.btn-menu {
    background-color: orange;
    border-radius: clamp(5px,2vw,10px);
    padding: 0.6vw 1.2vw;
}

.toggle-menu{
    background-color: orange;
    border-radius: clamp(5px,1.5vw,10px);
    padding: 1.6vw 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.toggle-menu img{
    width: 15px;
}

.menu-links{
    position: absolute;
    top: 38px;
    right: 0px;
    width: 110px;
    height: 112px;
    background-color: white;
    border-radius: 4px;
    padding: 5px 17px 0px 17px;
    display: none;
}

.menu-links div a{
    font-size: 12px;
    color: black;
}

.hero-section {
    height: 65vh;
    background: linear-gradient(rgba(0, 92, 128, 0.6),
            rgba(0, 92, 128, 0.6)),
        url('../Assets/home-banner-bg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
}

.hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
}

h1 {
    font-weight: 700;
    font-size: clamp(20px, 10vw, 50px);
    color: white;
    line-height: clamp(30px, 10vh, 70px);
}

.second-h1 {
    font-size: clamp(20px, 9vw, 50px);
    color: #3fa9f5;
}

.hero-content p {
    color: white;
    font-size: clamp(10px, 5vw, 18px);
    margin-top: clamp(5px, 10vh, 10px);
    margin-bottom: clamp(10px, 10vh, 15px);
}

.hero-buttons {
    line-height: clamp(20px, 8vh, 70px);
}

.btn-primary {
    text-decoration: none;
    border-radius: 5px;
    font-size: clamp(10px, 4vw, 17px);
    margin: 0 10px;
    font-weight: bold;
    color: white;
    background-color: #f59e0b;
    border-radius: 10px;
    padding: 14px 2.6vw;
}

.btn-secondary {
    text-decoration: none;
    font-size: clamp(10px, 4vw, 17px);
    font-weight: bold;
    color: white;
    background-color: #3b82f6;
    border-radius: 10px;
    padding: 14px 4vw;
}

.small-text {
    font-size: clamp(5px, 2vw, 14px);
    color: white;
}

.background-wrapper {
    position: relative;
    overflow: hidden;
    background: #f5f9fc;
}

.animated-waves {
    position: absolute;
    top: 8.8vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.animated-wave {
    position: absolute;
    bottom: 0;
}

.Stats {
    height: 100%;
    overflow: hidden;
    background-color: #3b83f6b7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.5vw 7vw;
    color: #fff;
    align-items: center;
    gap: 7vw;
}

.stat {
    text-align: center;
}

.stat h2 {
    font-size: clamp(15px, 8vw, 40px);
    font-weight: bold;
}

.stat p {
    font-size: clamp(5px, 3vw, 16px);
    line-height: 15px;
}

.Project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFF1FD;
    padding-left: clamp(8vw,10vw,14.5vw);
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    gap: 15px;
}

.project-content {
    width: 30vw;
}

.project-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.project-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.project-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.project-content ul {
    margin-bottom: 30px;
    line-height: 10px;
}

.project-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.project-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-project {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.project-content ul {
    list-style: none;
}

.project-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Project img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 15px 0 0 15px;
}

.client {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
}

.client-content {
    width: 50vw;
}

.client-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.client-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.client-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.client-content ul {
    margin-bottom: 30px;
    line-height: 10px;
}

.client-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.client-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-client {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.client-content ul {
    list-style: none;
}

.client-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.client img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 0 15px 15px 0px;
}

.quotation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFF1FD;
    padding-left: clamp(8vw,10vw,14.5vw);
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    gap: 15px;
}

.quotation-content {
    width: 50vw;
}

.quotation-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.quotation-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.quotation-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.quotation-content ul {
    margin-bottom: 30px;
    line-height: 10px;
    list-style: none;
}

.quotation-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.quotation-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-quotation {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.quotation-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quotation img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 15px 0 0 15px;
}


.invoice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
}

.invoice-content {
    width: 50vw;
}

.invoice-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.invoice-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.invoice-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.invoice-content ul {
    margin-bottom: 30px;
    line-height: 10px;
}

.invoice-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.invoice-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-invoice {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.invoice-content ul {
    list-style: none;
}

.invoice-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.invoice img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 0 15px 15px 0px;
}

.administration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFF1FD;
    padding-left: clamp(8vw,10vw,14.5vw);
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    gap: 15px;
}

.administration-content {
    align-self: center;
    width: 50vw;
}

.administration-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.administration-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.administration-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.administration-content ul {
    margin-bottom: 30px;
    line-height: 10px;
    list-style: none;
}

.administration-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.administration-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-administration {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.administration-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.administration img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 15px 0px 0px 15px;
}

.messaging {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
}

.messaging-content {
    width: 50vw;
}

.messaging-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.messaging-content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.messaging-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 45px;
}

.messaging-content ul {
    margin-bottom: 30px;
    line-height: 10px;
}

.messaging-content ul li {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.messaging-content ul i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-messaging {
    background-color: #3b83f6b7;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

.messaging-content ul {
    list-style: none;
}

.messaging-pic {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messaging img {
    width: 48vw;
    height: 61.5vh;
    border: 1px solid #3fa9f5;
    border-radius: 0 15px 15px 0px;
}

.support {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.support-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}

.support-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;
}

.support-icon {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.support-icon img {
    width: 70px;
    height: auto;
    margin-bottom: 20px;
}

.support-icon h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.support-icon p {
    font-size: 12px;
    color: #333;
}

.plan {
    background-color: #DFF1FD;
    padding: 60px 20px;
    text-align: center;
}

.plan h2 {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #555;
    font-weight: 600;
}

.plan-types {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.plan-type {
    background-color: #fff;
    border: 1px solid #3fa9f5;
    border-radius: 10px;
    width: 390px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.plan-type h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-top: -2px;
}

.plan-type h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
    line-height: 3px;
    margin-bottom: 33px;
}

.plan-type p {
    font-weight: bolder;
    padding-left: 08px;
    padding-bottom: 08px;
}

.plan-type ul {
    padding-left: 08px;
    margin-bottom: 20px;
    list-style: none;
}

.plan-type ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.plan-button {
    display: block;
    background-color: #00aaff;
    color: white;
    padding: 08px;
    width: 105px;
    margin-left: 115px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.footer {
    background-color: #00aaff;
    color: white;
    padding: 60px 40px 30px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    width: 150px;
}

.links-column ul {
    list-style: none;
    padding: 0;
}

.links-column li {
    margin-bottom: 10px;
}

.links-column i,
.contact-column i {
    color: white;
    margin-right: 8px;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 12px;
    font-size: 20px;
}

.review-text {
    margin-top: 12px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid white;
    padding-top: 30px;
    width: 80%;
    margin: 30px auto 0 auto;
}

.footer-bottom a {
    color: #cff;
    text-decoration: underline;
}

.footer-logos {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 9vw;
}

.footer-logos img {
    height: clamp(10px,5vw,1.4vw);
}
